.add-user{
  height: 200px;
  padding: 10px;
  padding-left: 50px;
  border: 1px solid orange;
}
.display-user{
  height: 200px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 50px;
  border: 1px solid orange;
}
.add-user-input{
  width: 250px;
  height: 35px;
  display: block;
}
.add-user-btn{
  width: 250px;
  height: 35px;
  display: block;
  margin-top: 20px;
}